@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* html,
body {
    width: 100%;
    height: 50%;
} */

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,
}

.skewedBox {
    background-image: linear-gradient(0deg, #6495ed 0%, #7fffd4 100%);
    padding: 10px 0;
    /* transform: skew(0deg, -10deg) translateY(-80px); */
    /* height: 400px; */
}

.container1 {
    padding: 0px 200px;
    /* transform: skew(0deg, 10deg); */
    font-family: arial;
    height: 500px;
}

.container1 h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 3rem;
}

.container1 p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 80%;
}

.sec2 {
    padding: 0 200px 150px;
    color: black;
    font-family: arial;
    text-align: right;
}

.sec2 h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 3rem;
}

.sec2 p {
    text-align: right;
    font-size: 1em;
    margin: 0;
    padding: 20px 0;
    line-height: 1.5em;
    width: 100%;
}

.container h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 3em;
}

.container {
    text-align: center;
    background: #f5f5f5;
}

.header {
    padding-top: 30px;
    color: #444;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}

.sub-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.teams {
    margin: 10px;
    padding: 22px;
    max-width: 40%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover {
    background: #ddd;
    border-radius: 12px
}

.teams img {
    width: 200px;
    height: 200px;
}

.name {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    font-transform: uppercase;
}

.desig {
    font-style: italic;
    color: #888;

}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.social-links {
    margin: 14px;
}

.social-links a {
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: #444;
}

@media screen and (max-width: 600px) {
    .teams {
        max-width: 100%;
    }
}