{% extends "base.html" %}
{% load static %}
{% block title %}
Chatpage
{% endblock %}


{% block content %}
<main>
  <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">

  <main class="container">
    <!-- <header class="header">
      <span class="logo">Upbeat Buddy</span>
      
      
    </header> -->
    <section class="content">


      <section class="conversation">
        <div class="conversation-header">
          <div class="conversation-contact">
            <img src="{% static 'chatbot_logo.png' %}" alt="conv-profil">

            <div class="conversation-contact-info">
              <span class="conversation-name">Upbeat Buddy</span>
              <span class="conversation-online">online</span>
            </div>
          </div>


        </div>
        <section class="conversation-content">

          <section class="messages">

            <!-- BOT -->
            <article class="message-container">
              <img src="{% static 'chatbot_logo.png' %}" alt="message-img">

              <div class="message">
                <span>Hello {{request.user}}, how are you ?</span>
                <hr><span>{{now}}</span>
              </div>
            </article>
            {% for item in chats %}
            <!-- User -->
            <article class="message-container sended">
              <img src="{% static 'human_logo.png' %}" alt="message-img">

              <div class="message">
                <span>{{ item.0 }}</span>
                <hr><span>{{ item.2 }}</span>
              </div>
            </article>

            <!-- BOT -->
            <article class="message-container">
              <img src="{% static 'chatbot_logo.png' %}" alt="message-img">

              <div class="message">
                <span>{{ item.1 }}</span>
                <hr><span>{{ item.2 }}</span>
              </div>
            </article>
            {% endfor %}


            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <form action="{% url 'chatpage' %}" method="post">
              <div class="conversation-editor">
                <!-- Safe -->
                {% csrf_token %}
                <input type="text" name="userquery" placeholder="Write a message" style="width:240%"
                  style="float: inline-block;" />
                <input type="submit" class="btn-info " value="Send" name="Send" style="float: inline-block" />
                {% if activate %}
                <input type="submit" class="btn-success " value="Check Emotion" name="Check Emotion" />
                {% endif %}
              </div>
            </form>
          </section>


        </section>
      </section>

    </section>
  </main>
</main>
{% endblock %}