{% load static %}
<!DOCTYPE html>
<html>
<head> 
 <title></title>
 <link rel="stylesheet" type="text/css" href="{% static 'assets/style.css' %}">
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  </head>
<body> 
<header>
 <div class="mainheader">
  <div class="logo">
   <img src="{% static './assets/logo_n.png' %}"> 
  </div>

  <nav>
   <a href="#">home</a>
   <a href="#">sign in/sign up</a>
   <a href="#">about</a>
   <!-- <a href="" target="_blank">contact</a> -->
  </nav>

  <div class="menubtn">
   <button>Get started</button>
  </div>
 </div>
 <main>
  <section class="left-sec">
   <h2> We Are Here For Your Care</h2>
   <h1>  Upbeat Buddy</h1>
   <p>We are here for your care 24/7. Any help just call us.</p>
   <button>
     Let's talk
   </button>
  </section>

  <section class="right-sec">
   <figure>
    <img src="{% static 'assets/img.png' %}"> 
   </figure>
  </section>
 </main>
</header>
</body>
</html>
