{% extends "base.html" %}
<!-- {% load static %} -->
{% block title %}
UpbeatBuddy
{% endblock %}

{% block content %}

<main>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <section class="left-sec">
    <h2> We Are Here For Your Care</h2>
    <h1> Upbeat Buddy</h1>
    <p>We are here for your care 24/7. Any help just call us.</p>
    <a href="/chatpage">
      <button>
        Let's talk
      </button></a>
  </section>

  <section class="right-sec">
    <figure>
      <img src="{% static 'img.png' %}">
    </figure>
  </section>
</main>

{% endblock %}
<!-- 
<!DOCTYPE html>
<html>

<head>
  <title></title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="mainheader">
      <div class="logo">
        <img src="{% static 'logo_n.png' %}">
      </div>

      <nav>
        <a href="/">home</a>
        <a href="login">sign in/sign up</a>
        <a href="about">about</a>
      </nav>

      <div class="menubtn">
        <button>Get started</button>
      </div>
    </div>

  </header>
</body> -->