{% extends "base.html" %}
{% load static %}
{% block title %}
Profile
{% endblock %}

{% block content %}
<link href="{% static 'style3.css'%}" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 600px;
    /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  th,
  td {
    border-bottom: 1px solid rgb(46, 44, 44);
    border: 1px solid;
  }

  tr:hover {
    background-color: cyan;
  }

  #popup-1 {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: left;
    height: 100vh;
    width: 100%;
  }

  .popup-content {
    position: relative;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    width: 400px;
    top: 5vh;
  }
</style>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}"> -->
<!-- <h1>Welcome {{request.user}}</h1> -->
<hr>
<!-- {%for score in scores%}
<p>{{score}}</p>
{%endfor%} -->
<!-- <h2>Profile Page</h2> -->


{%if newUser %}
<h3>Please chat to get happiness index</h3>
{%else%}
{% if dataObj %}
<div id="popup-1">
  <div class="popup-content">
    <h1>Analysis of current chat session</h1>
    <p>Happiness Index :{{dataObj.score}}</p>
    <p>Positive Sentence Count :{{dataObj.posCount}}</p>
    <p>Negative Sentence Count :{{dataObj.negCount}}</p>

    <button id="close-popup-1">Close</button>
  </div>
</div>
{%endif%}
<main class="container">
  <div class="row" style="background-color:white;">
    <div class="column">
      <br>
      <br>
      <br>
      <h2>Let's have a look at your progress</h2>
      <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
      <script>
        var xValues = JSON.parse("{{ xValues|escapejs }}");
        var yValues = JSON.parse("{{ yValues|escapejs }}");

        new Chart("myChart", {
          type: "line",
          data: {
            labels: xValues,
            datasets: [{
              fill: false,
              lineTension: 0,
              backgroundColor: "rgba(0,0,255,1.0)",
              borderColor: "rgba(0,0,255,0.1)",
              data: yValues
            }]
          },
          options: {
            legend: { display: false },
            scales: {
              yAxes: [{ ticks: { min: 0, max: 100 } }],
            }
          }
        });
      </script>

      <br>
      <table>
        <tr>
          <th>Score range</th>
          <th>Meaning</th>
        </tr>
        <tr>
          <td>70%-100%</td>
          <td>Super Happy</td>
        </tr>
        <tr>
          <td>50%-70%</td>
          <td>Happy like every other human</td>
        </tr>
        <tr>
          <td>30%-50%</td>
          <td>On a path to happiness</td>
        </tr>
        <tr>
          <td>0%-30%</td>
          <td>Find happiness in small things</td>
        </tr>
        <tr>
      </table>



    </div>
    <div class="column" style="background-color:white;">
      <div class="card-container">
        <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
        <h3>{{request.user}}</h3>
        <h6>Age : {{age}}</h6>
        <p>E-mail: {{email}}</p>
        <div class="buttons">
          <button class="primary">
            Average Score : {{avgScore}}%
          </button>
          <br>
          <p>A score between 50%-70% is considered good enough for an average human being.</p>
          <br>
          <button class="primary ghost">
            Happy Sentence Count : {{posVal}}
            <br>
            Sad Senetnce Count :{{negVal}}
            <br>
            Total Score :{{avgScore}}%
          </button>
        </div>
        <div class="skills">
          <h6>Remedies Suggested </h6>
          <ul>
            <li>Go for a walk on daily basis</li>
            <li>Take a break</li>
            <li>Meditate Regularly</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</main>
<script>

  var popup1 = document.getElementById("popup-1")
  var closePopup1 = document.getElementById('close-popup-1')
  popup1.style.display = "block";
  closePopup1.addEventListener('click', () => {
    popup1.style.display = "none";
  })
</script>

{%endif%}
{% endblock %}